*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    width: 1200px;
    margin: 0 auto
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}


/*header*/
header{
    background-color: darkorange;
}

header > .container{
    height: 70px;
    border: 2px dashed black;
}
.debug-header{
    border: 2px dashed black;
    height: 20px;
    width: 100px;
}

/*main*/
.debug-card{
    position: relative;
    border: 2px dashed black;
    height: 500px;
    width: calc(100% / 3 - 10px);
    margin-top: 20px;
    background-color: lightslategray;
}
.debug-card-text{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 70px;
    border: 2px dashed black;
    background-color: white;
}
.debug-label{
    position: absolute;
    bottom: 35px;
    left: 0;
    height: 25px;
    width: 50px;
    border: 2px dashed black;
    background-color: red;
}
.debug-secondary-label{
    position: absolute;
    bottom: 35px;
    left: 55px;
    height: 25px;
    width: 50px;
    border: 2px dashed black;
    background-color: green;
}
.debug-secondary-special-label{
    position: absolute;
    bottom: 35px;
    left: 0;
    height: 25px;
    width: 50px;
    border: 2px dashed black;
    background-color:green
}
.debug-heart{
    position: absolute;
    top: 10px;
    right: 0;
    height: 40px;
    width: 40px;
    border: 2px dashed black;
    background-color: white;
}