*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/*utils*/
.container{
    width: 1200px;
    margin: 0 auto
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}

/*header*/
header{
    background-color: darkorange;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
header > .container{
    height: 70px;
}
.logo-header{
    height: 70px;
    padding: 20px;
    margin-right: 90px;
}

/*main*/
.card{
    position: relative;
    height: 563px;
    width: calc(100% / 3 - 10px);
    margin-top: 100px;
    background-color: lightslategray;
}
.card img{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}
.pic-a{
  display: block;
}
.pic-b{
  display: none;
}
.card:hover .pic-a{
  display: none;
}
.card:hover .pic-b{
  display: block;
}
.card-text{
    position: relative;
    top: 97%;
    left: 0;
    background-color: white;
}
.price{
    color: red;
}
.old-price{
    text-decoration: line-through;
}
.label{
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: red;
    color: white;
}
.secondary-label{
    position: absolute;
    bottom: 50px;
    left: 40px;
    background-color: green;
    color: white;
}
.secondary-special-label{
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color:green;
    color: white;
}
.heart{
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    background-color: white;
}
.heart:hover{
  color: red;
}

/*footer*/
footer{
    background-color: black;
    margin-top: 100px;
}
footer div{
    position: relative;
    height: 100px;
    width: 200px;
    color: white;
}
footer h3{
  position: absolute;
  top: 30px;
}

.list-footer{
  position: absolute;
  bottom: 30px;
  left: 0;
  list-style-type: none;
}
.list-footer li{
  display: inline;
  align-items: center;
}
.footer-social{
    position: absolute;
    right: 0;
    top: 30px;
    color: white;
}
.social-footer{
  position: absolute;
  right: 0;
  bottom: 30px;
  color: white;
}